{{/* layouts/shortcodes/section.html */}}
{{ $icon := .Get "icon" }}
{{ $size := .Get "size" | default "32" }}
{{ $title := .Get "title" }}

<div class="home-info">
    <div class="info-header">
        <span class="icon-wrapper">
            {{ $iconPath := print "static/icons/" $icon ".svg" }}
            {{ with os.ReadFile $iconPath }}
                <span class="icon icon-{{ $icon }}">
                    <svg 
                        xmlns="http://www.w3.org/2000/svg"
                        width="{{ $size }}"
                        height="{{ $size }}"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        {{ (. | replaceRE `^<svg[^>]*>` "" | replaceRE `</svg>$` "") | safeHTML }}
                    </svg>
                </span>
            {{ end }}
        </span>
        <h3>{{ $title }}</h3>
    </div>
    {{ .Inner | markdownify }}
</div>